html, body{
    position: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    background : white;
}

#header{
    font-family: cursive;
    font-weight: bold;
    font-style: oblique;
    padding : 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    border-radius: 10px;
    background-color: lightgreen;
    border-style: double;
    height: 8em;
    width: 15em;
}
.boxButons{
    margin-right : 5px;
    display : flex;
    flex-direction : column;
    justify-content: space-evenly;
    /*border-style: double;*/
    padding-left:30px;
    padding-right:30px;
}

.boxGrid{
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 60%;
    border-style: solid;
    border-color: lightblue;
    height: 60em;
}

.cellGrid{
    border-style: solid;
    border-width: 0.15px;
    border-color: black;
}

#container{
    display : flex;
    justify-content: center;

}
